.fade {
    animation-name: fadded;
    animation-duration: .2s;
    animation-fill-mode: forwards;

}
.hide{ 
    animation-name: hidden;
    animation-duration: .2s;
    animation-fill-mode: forwards;

}

.popfade{
    animation-name: popheight;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    width: 320px;
}

.pophide{
    animation-name: popheight;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    width: 320px;
    height: 230px;
}

@keyframes fadded {
    from {
        opacity: 0;
        transform: translateY(20px);
        display: none;
        visibility: hidden;
    }
    to {
        opacity: 1;
        display: block;
        visibility: visible;
        transform: translateY(0px);
    }
  }
  

@keyframes hidden {
    from {
        opacity: 1;
        display: block;
        visibility: visible;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        display: none;
        visibility: hidden;
        transform: translateY(20px);
    }
  }

  
@keyframes popheight {
    from {
        height: 230px;
    }
    to {
        height: 150px;
     }
  }