.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(100px);
    transition: all 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateY(0px);
  } 
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateY(100px);
  }